.login-box{
    box-sizing: border-box;
    background-color: #fff;
    color: #26282a;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
    width: 360px;
    right: 0;
    min-height: 550px;
    z-index: 1;
    padding: 0 5px;
    /* padding-bottom: 10px; */
    border: 1px solid #0000;
    border-top: 1px solid #f1f1f5;
}
.register-page-header{
    padding-top: 28px;
    padding-bottom: 0;
}
.create-account-title{
    display: block;
    margin: 0;
    font-size: 1.17647rem;
    font-weight: 600;
    letter-spacing: -.2px;
    text-align: center;
    line-height: 1.35294rem;
}
.input-field-icon {
    position: absolute;
    background-size: 0.99818rem 1.6rem;
    background-repeat: no-repeat;
    background-position: left center;
    width: 0.99118rem;
    height: 1.88235rem;
    box-sizing: border-box;
    border-bottom: 1px solid #0000;
    top: 0.50016rem !important;
}

.icon-contact{
    background-image: url("src/assets/icons/icon-contact.svg")
}
.icon-contact-focus{
    background-image: url("src/assets/icons/icon-contact-focus.svg")
}
.icon-email{
    background-image: url("src/assets/icons/icon-email.svg")
}
.icon-email-focus{
    background-image: url("src/assets/icons/icon-email-focus.svg")
}
.icon-password{
    background-image: url("src/assets/icons/icon-password.svg")
}
.icon-password-focus{
    background-image: url("src/assets/icons/icon-password-focus.svg")
}
.icon-dob{
    background-image: url("src/assets/icons/icon-dob.svg")
}
.icon-dob-focus{
    background-image: url("src/assets/icons/icon-dob-focus.svg")
}
.icon-mobile{
    background-image: url("src/assets/icons/icon-mobile.svg");
    background-size: 10px;
    background-position: center;
}
.icon-mobile-focus{
  background-image: url("src/assets/icons/icon-mobile-focus.svg");
  background-size: 10px;
  background-position: center;
}

.icon-hide-password{
    background-image: url("src/assets/icons/icon-hide-password.svg")
}
.icon-show-password{
    background-image: url("src/assets/icons/icon-show-password.svg")
}
.social-login .btn-google {
    background-size: 1.29647rem;
    background-image: url("src/assets/icons/icon-google.svg");
}

.login-form{
    margin: 0 auto;
    padding: 0 1.41176rem;
    width: initial;
}
.form-fieldset {
    margin-top: 1.47059rem;
}
.field-transate {
    letter-spacing: -.31em;
    text-rendering: optimizespeed;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    display: -webkit-flex;
    display: -ms-flexbox;
}
.input-with-icon {
    background-size: 0.94118rem 1rem;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 1.41176rem;
    border: 0;
    border-bottom: 0.08892rem solid #b9bdc5;
    border-radius: 0;
}
.col{
    padding: 0;
}

.tail-label{
    right: 0;
    width: initial;
    font-size: .94118rem;
    top: 0.5rem;;
    position: absolute;
    font-weight: 300;
    padding-bottom: 12px;
    color: #b9bdc5;
}
p {
    margin: 0;
}
.form-control:focus {
    border: 0;
    border-bottom: 0.08892rem solid #188fff;
    box-shadow: none;
}
.is-invalid{
  border-bottom: 0.08892rem solid red;
}

.input-group label {
    font-size: .82353rem;
    letter-spacing: -.1px;
    font-weight: 400;
    position: absolute;
    pointer-events: none;
    left: 0;
    top:2px;
    transition: .2s ease all;
    margin-top: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

.form-label{
    /*display: flex;*/
    height: 100%;
    z-index: 1;
    align-items: center;
    box-sizing: border-box;
    padding-left: 1.41176rem;
    padding-top: 0.70588rem;
    font-size: .70588rem;
    color: #232a31 !important;
}

.full-width{
    width: 100%;
}
input::placeholder{
    color: transparent;

}
input:focus::placeholder {
    color: #b9bdc5;
    font-size: 14px;
  }
.isTextAvailable{
  font-size: .70588rem !important;
  top: -0.70588rem !important;
  letter-spacing: normal !important;

}
.form-group input:focus ~label, .isTextAvailable{
    top: -0.70588rem;
    align-items: initial;
    padding-left: 0;
    letter-spacing: normal;
    font-size: .70588rem;
    color: #262626 !important;
    transform: translateX(0px) translateY(-15px) !important;
}

.policy-term{
    font-size: .70588rem;
    color: #6e7780;
    text-align: center;
}
.button-container {
    font-size: .82353rem;
    margin-top: 0.41176rem;
    padding: 0;
}
.page-button{
    font-size: .94118rem;
    font-weight: 500;
    min-height: 2.35294rem;
    padding: 0.64706rem 0;
    color: #fff;
    background: #188fff;
    border: 1px solid #188fff;
    box-sizing: border-box;
    border-radius: 2.17647rem;
}
.form-row {
    margin: 0;
}
.social-media-text{
    display: block;
    text-align: center;
    margin-top: 0.61176rem;
    font-size: .82353rem;
}
.social-login {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 -5px;
    margin-top: 0.76471rem;
}
ul li{
    list-style: none;
}
.social-login{
    padding: 0;
}
.social-login li{
    display: block;
    flex: 1;
    margin: 0;
    padding: 0 5px;
    width: 100%;
    min-width: 4.70588rem;
    margin-bottom: 0.23529rem;
}

.social-login li button {
    margin-bottom: 0;
}
.sc-button {
    height: 2.35294rem;
    padding: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1.17647rem;
    background-color: #0000;
    border: solid 1px #b9bdc5;
}
.btn-social-media{
    box-sizing: border-box;
    font-size: 16px;
    color: #42597a;
    width: 100%;
    height: 42px;
    white-space: normal;
}

.btn-myemail-label {
    display: inline-block;
    position: initial;
    height: initial;
    width: initial;
    clip: initial;
    font-size: 0.903rem;
    text-transform: capitalize;
    color: #232a31;
    font-weight: 400;
    letter-spacing: normal;
    pointer-events: none;
    text-align: center;
}
.txt-sign-up{
    margin-top: 28px;
    font-size: 14px;
    text-align: center;
}
.toggle-button i {
    right: 5px;
    outline: 0;
    cursor: pointer;
}

.btn-myemail-label:before {
    background-size: 1.37647rem;
    background-image: url("src/assets/icons/icon-email.svg");
    background-repeat: no-repeat;
    height: 1rem;
    display: inline-block;
    width: 1.37647rem;
    content: ' ';
    margin-right: 5px;
    vertical-align: middle;
}
