.header{
    position: relative;
    background-color: #fff;
    color: #26282a;
    line-height: 84px;
    padding-left: 50px;
  }
  .txt-align-right{
    text-align: right;
  }

  .help{
    position: absolute;
    right: 64px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #188fff;
    text-decoration: none;
  }

  .help:active, .help:hover {
    outline: 0;
    text-decoration: none;
}
.login-body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
